.card {
  align-self: stretch;
  flex: 1 var(--width-card-mobile);
  padding: var(--padding-card);
  position: relative;
}

.card:first-child {
  border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
}

.card:last-child {
  border-radius: 0 0 var(--border-radius-card) var(--border-radius-card);
}

.card__icon {
  margin-bottom: 2rem;
}

.card__title {
  color: var(--color-light-gray);
  font-family: var(--font-big-shouders);
  font-size: var(--font-size-title);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.card__description {
  color: var(--color-transparent-white);
  font-size: var(--font-size-text);
  line-height: 1.7;
  margin-bottom: calc(var(--padding-card) + var(--margin-card-description));
}

.card__btn {
  background-color: var(--color-light-gray);
  border: 0.125rem solid var(--color-light-gray);
  border-radius: 3rem;
  bottom: 0;
  display: inline-block;
  font-size: var(--font-size-text);
  left: 0;
  margin: 0 0 var(--padding-card) var(--padding-card);
  padding: 0.75rem 1.8rem;
  position: absolute;
  text-transform: capitalize;
  transition: background-color 0.2s, color 0.2s;
}

.card__description,
.card__btn {
  font-family: var(--font-lexeca);
  font-weight: 400;
}

@media screen and (min-width: 48rem) {
  .card:first-child {
    border-radius: var(--border-radius-card) 0 0 0;
  }

  .card:nth-child(2n) {
    border-radius: 0 var(--border-radius-card) 0 0;
  }
}

@media screen and (min-width: 62rem) {
  .card {
    max-width: var(--width-card-desktop);
    transition: border-radius 0.2s, box-shadow 0.2s, transform 0.2s;
  }

  .card:first-child {
    border-radius: var(--border-radius-card) 0 0 var(--border-radius-card);
  }

  .card:nth-child(2n) {
    border-radius: 0;
  }
  
  .card:last-child {
    border-radius: 0 var(--border-radius-card) var(--border-radius-card) 0;
  }

  .card:hover {
    border-radius: var(--border-radius-card);
    box-shadow: 0 0 0.938rem var(--color-transparent-black);
    transform: scale(1.02);
    z-index: 1;
  }

  .card__description {
    --margin-card-description: 5rem;
  }
}