.card-wrapper {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding: 3.5rem 1.40625rem;
}

@media screen and (min-width: 62rem) {
  .card-wrapper {
    padding: 0;
  }
}