.card-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding: 3.5rem 1.40625rem;
}

.card-wrapper__content {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px var(--transparent-black);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 62rem) {
  .card-wrapper {
    padding: 0;
  }

  .card-wrapper__content {
    flex-direction: row;
  }
}