@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

#root {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.card-wrapper {
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}