@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

.card {
  background-color: #e38826;
}

.card__title {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.card_description,
.card_btn {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}