@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

#root {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root > div {
  border-radius: 0.75rem;
  overflow: hidden;
}