.card-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  min-height: 100vh;
}

.card-wrapper__content {
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 330px;
}

@media screen and (min-width: 1024px) {
  .card-wrapper__content {
    flex-direction: row;
    max-width: 910px;
  }
}