.card {
  padding: 3rem;
}

.card__icon {
  margin-bottom: 2rem;
}

.card__title {
  color: rgb(242, 242, 242);
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.75rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.card__description {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.938rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.card__btn {
  background-color: rgb(242, 242, 242);
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.card__description,
.card__btn {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}