.card {
  padding: 3rem;
}

.card__icon {
  margin-bottom: 2rem;
}

.card__title {
  color: rgb(242, 242, 242);
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.card__description {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.938rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.card__btn {
  background-color: rgb(242, 242, 242);
  border-radius: 3rem;
  display: inline-block;
  font-size: 0.938rem;
  padding: 1rem 2rem;
  text-transform: capitalize;
}

.card__description,
.card__btn {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .card__description {
    margin-bottom: 5rem;
  }
}