.attribution {
  bottom: 0.313rem;
  font-family: var(--font-lexeca);
  font-size: 0.938rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.link {
  color: var(--red);
  text-decoration: underline;
}