.attribution {
  bottom: 0.313rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.938rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.link:hover {
  text-decoration: underline;
}