*, 
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --light-gray: rgb(242, 242, 242);
  --transparent-white: rgba(255, 255, 255, 0.75);
  --transparent-black: rgba(0, 0, 0, 0.35);
  --red: rgb(176, 29, 14);
  --font-big-shouders: "Big Shoulders Display", sans-serif;
  --font-lexeca: "Lexend Deca", sans-serif;
  --border-radius-card: 0.5rem;
}

body {
  background-color: var(--light-gray);
  font-size: 100%;
  list-style-type: none;
  position: relative;
}