*, 
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --light-gray: rgb(242, 242, 242);
  --transparent-white: rgba(255, 255, 255, 0.75);
  --red: rgb(176, 29, 14);
}

body {
  background-color: var(--light-gray);
  font-size: 100%;
  list-style-type: none;
  position: relative;
}